
.container {
  padding-bottom: 32px;
}
.page-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #EFEFEF;
  padding: 20px 10px;
  text-decoration: none;
}
.title-link:hover, .title-link  {
  text-decoration: none;
}
.btn-about {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 20px 25px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.2);
}
.btn-about:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.2);
}

.form-inline .form-control{
    background: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.input-group-addon{
    background: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
input::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.4) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(255, 255, 255, 0.4) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(255, 255, 255, 0.4) !important;  
}
 
input:-ms-input-placeholder {  
color: rgba(255, 255, 255, 0.4) !important;  
}

.fill-remaining-space {

  flex: 1 1 auto;

}

.white {
  color: #FFFFFF;
}
* {
	margin: 0;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: unset;
  font-family: 'Roboto', sans-serif;
}
html { 
  background: url('/assets/image/17390996656_69abfbab23_o_scale-mask.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {
  min-height: 100%;
	margin-bottom: -100px; 
}
#wrap:after {
  content: "";
  display: block;
}

footer, #wrap:after {
	height: 100px; 
}

footer {
  clear:both;
  padding-top:20px;
  color: #999999;
  font-size: 0.9rem;
}
.credit {
  color: rgba(150, 150, 150, 0.5);
  font-size: 0.9rem;
}

