<div class="container" id="main">
  <div class="row scroll-container">
    <div class="col-md-9">
      <div class="container pages" id="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="well page active content" id="about">
              <!-- Reset Indent -->

<a name="top-anchor"></a>
<section id="image-search">
  <h2>Image Search API</h2>
  <p>This application abstracts a Google Custom Search Engine (CSE) into a simple
    API for image searches. 
  </p>
  <p>
    <a type="button" href="#more-info" class="btn btn-raised btn-secondary btn-sm pull-right">
      Additional Info
    <div class="ripple-container"></div></a>
  </p>
  <br><br>
  <hr>
  <section id="try-it">
    <h3>See It In Action</h3>
      <p>Enter a search term to see what the API returns.
      </p>
      <div class="search-container">
        <div class="form-group label-floating is-empty">
          <div class="input-group">
            <label for="i5" class="control-label">Search</label>
            <input class="form-control" id="i5" type="text" [(ngModel)]="searchQuery"  (keyup.enter)="searchButtonClicked()">
            <span class="help-block">Perform a <code>Google Image Search</code>, preview JSON response below</span>
            <span class="input-group-btn">
            <button type="button" class="btn btn-raised btn-primary" (click)="searchButtonClicked()">
              <i class="zmdi zmdi-search"></i>
              <div class="ripple-container"></div></button>
            </span>
          </div>
        </div>
        <div style="width: 40px;">

        </div>
        <div class="form-group is-empty" style="width: 110px;">
          <div class="input-group spinner">
            <input type="text" id="i6" class="form-control" placeholder="Offset"
              [(ngModel)]="searchOffset" (change)="changeOffset()">
            <div class="input-group-btn-vertical">
              <button class="btn btn-default" type="button" (click)="incrementOffset()">
                <i class="zmdi zmdi-caret-up"></i>
              </button>
              <button class="btn btn-default" type="button" (click)="decrementOffset()">
                <i class="zmdi zmdi-caret-down"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-heading">API Call</div>
      <div class="panel-body">
        <span style="float: left">
          {{apiCallString}}
        </span>
        <span style="float: left" *ngIf="searchQuery">
          <b>{{searchQuery}}</b>
        </span>
        <span style="float: left" *ngIf="searchOffset > 0 && searchQuery">
          &offset=<b>{{searchOffset}}</b>
        </span>
      </div>
    </div>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-heading">
        Response
        <a href="#" style="float: right; font-size: 0.8em" 
          *ngIf="! responseLoading && responseJSON"
          (click)="clearResponseJSON()">
          clear
        </a>
      </div>
      <div class="panel-body" *ngIf="responseLoading">
        <div style="width: 100%; height: 50px; text-align: center; color: #0c73b8">
          <i class="zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-2x"></i>
        </div>
      </div>
      <div class="panel-body" *ngIf="! responseLoading">
          <p *ngFor="let result of responseJSON" style="word-wrap: break-word">
            {{jsonToString(result)}}
          </p>
      </div>
    </div>
  </section><!--end of #tryit-->
<br>
<hr>
  <section id="search-details">
    <h3>Search API Details</h3>
    <br>
    <h5 style="text-align: center">GET /api/search?q=&lt;term&gt;[&o=&lt;number&gt;][&c=&lt;number&gt;]</h5>
    <br><pre>

      &#123;
        "url": "https://site.org/path/to/image.jpg",
        "thumbnail": "https://site.org/path/to/thumbnail.jpg",
        "context": "https://site.org/path/to/original/page.html",
        "snippet": "Context inforamtion about the image"
      &#125;
    </pre>
  </section><!--end of #search-details-->  
</section>
<br>
<hr>
<section id="latest">
  <h2>Recent Queries API</h2>
  <p>A second endpoint returns the most recent search queries.
  </p>
  <p>
    <a type="button" href="#more-info" class="btn btn-raised btn-secondary btn-sm pull-right">
      Additional Info
    <div class="ripple-container"></div></a>
  </p>
  <br><br>
  <hr>
  <section id="try-latest">
      <div class="panel panel-default">
        <div class="panel-heading">
          Queries
          <a href="#" style="float: right; font-size: 0.8em" 
            *ngIf="! responseLoading && responseJSON"
            (click)="clearResponseJSON()">
            clear
          </a>
        </div>
        <div class="panel-body" *ngIf="latestLoading">
          <div style="width: 100%; height: 50px; text-align: center; color: #0c73b8">
            <i class="zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-2x"></i>
          </div>
        </div>
        <div class="panel-body" *ngIf="! latestLoading">
            <p *ngFor="let result of latestJSON" style="word-wrap: break-word">
              Date: {{result.date}} - Search: {{result.term}}
            </p>
        </div>
      </div>
  </section><!--end of #try-latest-->  
<br>
<hr>
  <section id="latest-details">
    <h3>Latest API Details</h3>
    <br>
    <h5 style="text-align: center">GET /api/latest</h5>
    <br><pre>

      &#123;
        "term": "cat",
        "date": "2016-11-20T04:26:47.353Z"
      &#125;
    </pre>
  </section><!--end of #search-details-->  
</section><!--end of #latest-->  
<br><br>
<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>The API endpoints are accessable via GET request detailed above.
  </p>
  <p>The query string is mandatory, the offset and count are optional. The default
  count is 10 with an offset of 0.
  </p>
  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>This application makes use of free tiers of Heroku and Google CSE. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>100 searches / day</li>
      <li>18 hours / day of run time</li>
    </ul>
    <p>After the search limit is reached the api will return an error message from Google.
    </p>
    <h3>Input Limitations</h3>
    <p>Acceptable inputs to the API include:
    </p>
    <ul>
      <li>query: Any string of letters and numbers</li>
      <li>offset: Any integer between 1-99</li>
      <li>count: Any integer between 1-10</li>
    </ul>
    <p>The following API terms are also interchangable:
    </p>
    <ul>
      <li>term || t || q =...</li>
      <li>offset || o =...</li>
      <li>count || c =...</li>
    </ul>
  </section><!--end of #limitations-->
  <section id="user-story">
    <h3>User Story</h3>
    <p>The following user stories were the basis for this application:
    </p>
    <ol>
      <li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
      <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
      <li>I can get a list of the most recently submitted search strings.</li> 
    </ol>
  </section><!--end of #user-story-->
  <br>
  <hr>
  <section id="to-do">
    <h2>ToDo</h2>
  <ul>
    <li>Add smooth scrolling</li>
    <li>Fix Interface / Links</li>
    <li>Add form validation</li>
    <li>Improve server side error message handling</li>
    <li>Add notifications to interface</li>
    <li>Rewrite footer</li>
  </ul>
  </section><!--end of #more-information-->
</section><!--end of #more-information-->
  <br>
  <br>
    
              <!-- /Reset Indent -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 scrollspy">
        <ul id="navspy" class="nav hidden-xs hidden-sm navspy" data-spy="affix">
          <li><a href="#image-search">Search API</a>
            <ul class="nav navspy">
              <li><a href="#try-it">In Action</a></li>
              <li><a href="#search-details">Details</a></li>
            </ul>
          </li>
          <li><a href="#latest">Recent API</a>
            <ul class="nav navspy">
              <li><a href="#try-latest">In Action</a></li>
              <li><a href="#latest-details">Details</a></li>
            </ul>
          </li>
          <li><a href="#more-information">Additional Info</a>
            <ul class="nav navspy">
              <li><a href="#limitations">Limitations</a></li>
              <li><a href="#user-story">User Story</a></li>
              <li><a href="#to-do">ToDo</a></li>
            </ul>
          </li>
        <li style="padding-top: 10px;"><a href="#top-anchor">Back to Top</a></li>
        </ul>
    </div>
<!--    <nav class="col-m-2 menu">
      <ul>
        <li class="active withripple" data-target="#about">Material Design for Bootstrap</li>
        <li class="withripple" data-target="#getting-started">Getting Started</li>
        <li><a href="bootstrap-elements.html" target="_blank">Bootstrap elements <i class="material-icons">open_in_new</i></a>
        </li>
        <li class="withripple" data-target="#checkbox">Checkbox</li>
        <li class="withripple" data-target="#radio-button">Radio Button</li>
        <li class="withripple" data-target="#toggle-button">Toggle Button</li>
        <li class="withripple" data-target="#input">Input</li>
        <li class="withripple" data-target="#fileinput">File Input</li>
        <li class="withripple" data-target="#navbar">Navbar</li>
        <li class="withripple" data-target="#progress-bar">Progress Bar</li>
        <li class="withripple" data-target="#slider">Slider</li>
        <li class="withripple" data-target="#dropdown">Dropdown (Work in progress)</li>
        <li class="withripple" data-target="#dropdown-menu">Dropdown Menu</li>
        <li class="withripple" data-target="#dialog">Dialog</li>
      </ul>
    </nav>-->
  </div>
  <div class="row">
    <footer class="col-xs-12 application">
      <div class="container" id="footer">
        <h2>About</h2>
        <div class="row">
<br><br>
          <div class="col-sm-6">
            <p>More details to come
            </p>
            <img class="img-responsive  " src="http://placehold.it/500x250/5fb3ce/000000">
          </div>
          <div class="col-sm-6">
            <p>Hopefully sooner than later
            </p>
          </div>
<br><br>
        </div><!--end of .row-->
      </div><!--end of .container-->
    </footer> 
  </div>
</div>