<div class="nav-side-menu">
   <span class="mobile-menu-toggle-btn" data-toggle="collapse" data-target="#menu-content"><i class="zmdi zmdi-menu"></i></span>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <a href="/">
        <li>
          <i class="zmdi zmdi-home"></i> Main
        </li>
      </a>
      <a href="/static/books.html">
        <li class="collapsed">
          <i class="zmdi zmdi-library"></i> Books
        </li>
      </a>
      <a href="https://github.com/cjsheets">
        <li class="collapsed">
          <i class="zmdi zmdi-github-alt"></i> GitHub
        </li>
      </a>
      <a href="#">
        <li data-toggle="collapse" data-target="#share" class="collapsed">
          <i class="zmdi zmdi-share"></i> Share
          <span class="arrow"><i class="zmdi zmdi-chevron-down"></i></span>
        </li>
      </a>
      <ul class="sub-menu collapse" id="share">
        
        <a href="https://twitter.com/intent/tweet/?text=Chad%20Sheets%20-%20Personal%20FCC;&url=http%3A%2F%2Ffcc.chadsheets.com%2F"><li><i class="zmdi zmdi-caret-right"></i> Twitter</li></a>
        <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffcc.chadsheets.com%2F"><li><i class="zmdi zmdi-caret-right"></i> Facebook</li></a>
        <a href="https://plus.google.com/share?url=http%3A%2F%2Ffcc.chadsheets.com%2F"><li><i class="zmdi zmdi-caret-right"></i> Google+</li></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fchadsheets.com%2F&title=Chad%20Sheets%20-%20Personal%20FCC&summary=Chad%20Sheets%20-%20Personal%20FCC&source=http%3A%2F%2Ffcc.chadsheets.com"><li><i class="zmdi zmdi-caret-right"></i> LinkedIn</a>
      </ul>
      <a href="/static/contact.html">
        <li>
          <i class="zmdi zmdi-comments"></i> Contact
        </li>
      </a>
    </ul>
  </div>
</div>