#header-component {
    height: 49px;
    background-color: #0c73b8;
    color: #FFF;
    border-top: 2px solid #14568a;
    border-bottom: 1px solid #1478b5;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.site-logo {
  z-index: 10;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 30px;}

.site-logo a:link, .site-logo a:visited, .site-logo a:hover {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 46px;
  font-size: 26px; }

.site-logo-dotcom {
  color: #cfdde6;
  font-size: 16px; }

#top-right-nav {
  float: right !important;
  margin-right: -15px;
  list-style: none;
  box-sizing: border-box;
}
#top-right-nav {
  padding-right: 25px;
}
#top-right-nav a {
  font-size: 14px;
  font-weight: 400;
  padding: 14px 25px;
  color: inherit;
  line-height: 20px;
  position: relative;
  display: block;  
}
#top-right-nav a:link,
#top-right-nav a:visited,
#top-right-nav a:hover {
  text-decoration: none;
}
#top-right-nav li {
    float: left;
    position: relative;
    display: block;
    box-sizing: border-box;
}
#top-right-nav a:hover {
  background-color: #1084ca;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#top-right-nav .dropdown-menu li {
  color: #333333;
  padding-left: 10px;
}