<div id="wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <a class="title-link" [routerLink]="['/nl']">
          <h3 class="page-title"><i class="zmdi zmdi-cocktail"></i> &nbsp; Angular Nightlife</h3>
        </a>
      </div>
      <div class="col-sm text-right" *ngIf="activeRoute == '/nl'">
        <button class="btn btn-secondary btn-about"  (click)="open(content)">
          &nbsp; About &nbsp;
        </button>
      </div>
      <div class="col-sm text-right" *ngIf="activeRoute == '/nl/search'">
        <form class="form-inline searchbox" #form="ngForm" (submit)="search(form.value)">
          <label class="sr-only col-form-label" 
            for="inlineFormInputGroup">Username</label>
          <div class="input-group mb-2 mt-3 w-100">
            <input type="text" class="form-control" name="location"  ngModel
              id="inlineFormInputGroup" [placeholder]="_yelp.searchTerm">
            <div class="input-group-addon" (click)="search(form.value)">Search</div>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- / container-fluid -->

  <ngb-alert-component></ngb-alert-component>

  <router-outlet></router-outlet>

</div>
  <!--Debugging
<div class="container-fluid" style="background: #FFFFFF;">
  <div class="row">
    <div class="col-sm">
      <b style="color: darkgreen">Debugging: </b>
      &nbsp; &nbsp; - &nbsp; &nbsp;
      <b>activeRoute: </b> {{activeRoute}}

      <b>searchTerm: </b> {{_yelp.searchTerm}}

      &nbsp; &nbsp; - &nbsp; &nbsp;

      <a [routerLink]="['/nl/']">/ root</a>,
      <a [routerLink]="['/nl/search']">/search</a>

      &nbsp; &nbsp; - &nbsp; &nbsp;
      <button (click)="_auth.redirectToProvider('google')" class="btn btn-secondary btn-sm">
        Google
      </button>
      <button (click)="_auth.redirectToProvider('twitter')" class="btn btn-secondary btn-sm">
        Twitter
      </button>
      <button (click)="_auth.redirectToProvider('facebook')" class="btn btn-secondary btn-sm">
        Facebook
      </button>
      <button (click)="_auth.logout()" class="btn btn-secondary btn-sm">
        Logout
      </button>
      <button (click)="checkLoggedIn()" class="btn btn-secondary btn-sm">
        Test: {{_auth.authStatus}}
      </button>
      <button (click)="getVenues()" class="btn btn-secondary btn-sm">
        API
      </button>
    </div>
  </div>
</div> -->

<footer class="text-center">
  <!-- https://www.flickr.com/photos/lennykphotography/17390996656/ -->
  <p class="credit">Photo:
    <a class="credit" href="http://www.lennykphotography.com/">Lenny K.</a>
  </p>
  <p>FreeCodeCamp &nbsp; | &nbsp; <i class="zmdi zmdi-github-alt"></i> &nbsp; <a href="https://github.com/cjsheets">Chad Sheets</a></p>
</footer>

<template #content let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h5 class="modal-title">About :: Angular Nightlife</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p>Angular Nightlife is an Angular 2 application built for educational and demonstration purposes as part of the
      FreeCodeCamp Fullstack curriculum. The full source code is 
      <a href="https://github.com/cjsheets/angular-nightlife-app">available here.</a>Objectives include:</p>
      <ul>
        <li>User Story: As an unauthenticated user, I can view all bars in my area.</li>
        <li>User Story: As an authenticated user, I can add myself to a bar to indicate I am going there tonight.</li>
        <li>User Story: As an authenticated user, I can remove myself from a bar if I no longer want to go there.</li>
        <li>User Story: As an unauthenticated user, when I login I should not have to search again.</li>
      </ul>
    <p>By leveraging a Node.js backend (deployed on Heroku) this application interfaces with Yelps API to provide users
      with a rudimentary means of coordinating their nightlife activities.</p>
      
    <p>Data from sessions is stored in a MongoDB collection at mLab.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-outline-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>