
  <div class="row">
    <div class="col-sm-6">
      <a routerLink="/">Angular2 Voting App</a>
    </div>
    <div class="col-sm-6">
      <span *ngIf="af.auth | async">
        <a routerLink="/profile" >Profile</a> &nbsp; &nbsp;
        <a (click)="logout()" title="Logout">Logout</a>
      </span>
      <span *ngIf="!(af.auth | async)">
        <a (click)="modalService.open(MODAL_DEMO_ID)" title="Sign Up">Sign Up</a> &nbsp; &nbsp;
        <a (click)="modalService.open(MODAL_DEMO_ID)" title="Login">Login</a>
      </span>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
      <!--<app-poll-list></app-poll-list>-->
      <div style="width: 100%; height: 300px; background: #C3C3C3;">
        <auth></auth>
        Polls Go Here
        </div>
    </div>
  </div>

<modal-window modal-title="Voting App" [blocking]="false"
  modal-id="{{ MODAL_DEMO_ID }}">
  <div class="modal-body">
     
    </div>
    <div class="modal-footer">
        <a (click)="close()">Login</a>
    </div>
</modal-window>

<!--
   <a (click)="modalService.close(MODAL_DEMO_ID)">No</a>
      <div class="center">Are you sure about this?</div>

      <div class="buttons">
          <button class="flat" (click)="doTheThing()">Yes</button>
      </div>-->
