<div class="col-md-3 scrollspy">
  <ul id="navspy" class="nav hidden-xs hidden-sm navspy" data-spy="affix">
    <li *ngFor="let link of scrollNav">
      <a href="#{{link.h}}">{{link.v}}</a>
      <span *ngIf="link.s.length > 0">
        <ul class="nav navspy">
          <li *ngFor="let subLink of link.s">
            <a href="#{{subLink.h}}">{{subLink.v}}</a>
          </li>
        </ul>
      </span>
    </li>
    <li style="padding-top: 10px;"><a href="#top-anchor">Back to Top</a></li>
  </ul>
</div>