---
layout: page
title: 'Image Search Abstraction Layer'
description: 'This microservice allows google image searches by keyword and returns JSON responses.'
site-url: 'https://gog-img-api.herokuapp.com/'
git-repo: 'node-image-search-abstraction'
userStory:
  - 'I can get the image URLs, alt text and page urls for a set of images relating to a given search string.'
  - 'I can paginate through the responses by adding a ?offset=2 parameter to the URL.'
  - 'I can get a list of the most recently submitted search strings.'
toDo:
  - 'Add notifications'
  - 'Add form validation'
  - 'Improve server side error message handling'
scrollNav: [
  {h: 'project-title', v: 'Image Search', s: [
    {h: 'try-it', v: 'In Action'}
  ]},
  {h: 'search-details', v: 'API Details'},
  {h: 'search-details', v: 'API Details', s: [
    {h: 'search-details', v: 'Search'},
    {h: 'latest-details', v: 'Latest'}
  ]},
  {h: 'more-information', v: 'Additional Info', s: [
    {h: 'limitations', v: 'Limitations'},
    {h: 'user-story', v: 'User Story'},
    {h: 'to-do', v: 'To-Do'}
  ]},
]
---

<a name="top-anchor"></a>
<section id="project-title">

  <h2>{{page.title}}</h2>
  <p>{{page.description}}</p>
  <a type="button" href="https://github.com/cjsheets/{{page.git-repo}}" target="_blank"
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Git Repository<div class="ripple-container"></div></a>
  <a type="button" href="#more-info" 
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Additional Info<div class="ripple-container"></div></a>
  <div class="clearfix"></div>
  
  <hr>

  <section id="try-it">
    <h3>See It In Action</h3>
    <p>
      Enter a search term to see what the API returns.
      <i class="hosted-externally">(Hosted externally)</i>
    </p>
      <div class="iframe-container">
        <iframe src="{{page.site-url}}" class="demo-iframe"
          frameborder="0" marginwidth="0" marginheight="0"></iframe>
      </div>
  </section>

</section>

<hr>

<section id="search-details">
  <h3>Search API Details</h3>
  <br>
  <h5 style="text-align: center">GET /api/search?q=&lt;term&gt;[&o=&lt;number&gt;][&c=&lt;number&gt;]</h5>
  <br>
  <pre>

    &#123;
      "url": "https://site.org/path/to/image.jpg",
      "thumbnail": "https://site.org/path/to/thumbnail.jpg",
      "context": "https://site.org/path/to/original/page.html",
      "snippet": "Context inforamtion about the image"
    &#125;
  </pre>
</section><!--end of #search-details-->  

<hr>

<section id="latest-details">
  <h3>Latest API Details</h3>
  <br>
  <h5 style="text-align: center">GET /api/latest</h5>
  <br><pre>

    &#123;
      "term": "cat",
      "date": "2016-11-20T04:26:47.353Z"
    &#125;
  </pre>
</section><!--end of #search-details-->  

<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
    The API endpoints are accessable via GET request detailed above.
  </p>
  <p>
    The query string is mandatory, the offset and count are optional. The default
    count is 10 with an offset of 0.
  </p>

  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>
      This application makes use of free tiers of Heroku and Google CSE. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>100 searches / day</li>
      <li>18 hours / day of run time</li>
    </ul>
    <h3>Input Limitations</h3>
    <p>
      Acceptable inputs to the API include:
    </p>
    <ul>
      <li>query: Any string of letters and numbers</li>
      <li>offset: Any integer between 1-99</li>
      <li>count: Any integer between 1-10</li>
    </ul>
    <p>
      The following API terms are also interchangable:
    </p>
    <ul>
      <li>term || t || q =...</li>
      <li>offset || o =...</li>
      <li>count || c =...</li>
    </ul>
  </section><!--end of #limitations-->

  {% include content/user-story.html %}
  
  <hr>

  {% include content/to-do.html %}

</section><!--end of #more-information-->