---
layout: page
title: 'Build a Nightlife Coordination App '
description: 'This app allows users to search for local venues, indicate 
  their attendance, get directions and see each venues Yelp rating. The client 
  leverages Angular v2.x and Typescript backed by a Node.js REST API and MongoDB 
  datastore.'
site-url: 'https://angular-nightlife.herokuapp.com/'
git-repo: 'angular-nightlife-app'
userStory:
  - 'As an unauthenticated user, I can view all bars in my area.'
  - 'As an authenticated user, I can add myself to a bar to indicate I am going there tonight.'
  - 'As an authenticated user, I can remove myself from a bar if I no longer want to go there.'
  - 'As an unauthenticated user, when I login I should not have to search again.'
toDo:
  - 'Sort out promise return values'
  - 'implement express-verification'
  - 'improve loading icons when inteface is pending changes'
  - 'improve masonry loading output'
  - 'improve error handling'
  - 'different connect.session() MemoryStore solution'
  - 'investigate this._log undefined in Sentry.io'
  - 'handle http:// (not s) visitors'
  - 'revert console.log to _log, disable in prod'
scrollNav: [
  {h: 'project-title', v: 'Nightlife', s: [
    {h: 'try-it', v: 'In Action'}
  ]},
  {h: 'more-information', v: 'Additional Info', s: [
    {h: 'limitations', v: 'Limitations'},
    {h: 'user-story', v: 'User Story'},
    {h: 'to-do', v: 'To-Do'}
  ]},
]
---

<a name="top-anchor"></a>
<section id="project-title">

  <h2>{{page.title}}</h2>
  <p>{{page.description}}</p>
  <a type="button" href="https://github.com/cjsheets/{{page.git-repo}}" target="_blank"
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Git Repository<div class="ripple-container"></div></a>
  <a type="button" href="#more-info" 
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Additional Info<div class="ripple-container"></div></a>
  <div class="clearfix"></div>
  
  <hr>

  <section id="try-it">
    <h3>See It In Action</h3>
    <p>
      What are you up to tonight?
      <i class="hosted-externally">(External Link) - (Heroku app needs to wake)</i>
    </p>
      <div class="sample-img-container">
        <a href="{{page.site-url}}" target="_blank">
          <img src="/assets/img/project-nightlife-app.png" class="sample-img">
        </a>
      </div>
  </section>

</section>

<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
    See the git repository for additional information.
  </p>

  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>
      This application makes use of Herokus free tier. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>18 hours / day of run time</li>
    </ul>
    <h3>Input Limitations</h3>
    <p>
      Twitter authentication is required to participate.
    </p>
  </section><!--end of #limitations-->

  {% include content/user-story.html %}
  
  <hr>

  {% include content/to-do.html %}

</section><!--end of #more-information-->