---
layout: page
title: 'Build a Pinterest Clone'
description: 'This microservice displays file metadata at different stages of an upload.'
site-url: 'https://angular-pinterest.firebaseapp.com/ap/'
git-repo: 'angular-pinterest-app'
userStory:
  - 'As an unauthenticated user, I can login with Twitter.'
  - 'As an authenticated user, I can link to images.'
  - 'As an authenticated user, I can delete images that Ive linked to.'
  - 'As an authenticated user, I can see a Pinterest-style wall of all the images Ive linked to.'
  - 'As an unauthenticated user, I can browse other users walls of images.'
  - 'As an authenticated user, if I upload an image that is broken, it will be replaced by a placeholder image. (can use jQuery broken image detection)'
toDo:
  - 'bug: investigate auth: null'
  - 'apply linter to code in all projects'
  - 'load pins automatically after clicking logout'
scrollNav: [
  {h: 'project-title', v: 'Pinterest Clone', s: [
    {h: 'try-it', v: 'In Action'}
  ]},
  {h: 'more-information', v: 'Additional Info', s: [
    {h: 'limitations', v: 'Limitations'},
    {h: 'user-story', v: 'User Story'},
    {h: 'to-do', v: 'To-Do'}
  ]},
]
---

<a name="top-anchor"></a>
<section id="project-title">

  <h2>{{page.title}}</h2>
  <p>{{page.description}}</p>
  <a type="button" href="https://github.com/cjsheets/{{page.git-repo}}" target="_blank"
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Git Repository<div class="ripple-container"></div></a>
  <a type="button" href="#more-info" 
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Additional Info<div class="ripple-container"></div></a>
  <div class="clearfix"></div>
  
  <hr>

  <section id="try-it">
    <h3>See It In Action</h3>
    <p>
      Attach an image.
      <i class="hosted-externally">(External Link)</i>
    </p>
      <div class="sample-img-container">
        <a href="{{page.site-url}}" target="_blank">
          <img src="/assets/img/project-pinterest-app.png" class="sample-img">
        </a>
      </div>
  </section>

</section>

<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
    See the git repository for additional information.
  </p>

  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>
      This application makes use of Firebase free tier. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>Max 5 simultanious users</li>
    </ul>
    <h3>Input Limitations</h3>
    <p>
      Only links to images supported. Authentication required.
    </p>
  </section><!--end of #limitations-->

  {% include content/user-story.html %}
  
  <hr>

  {% include content/to-do.html %}

</section><!--end of #more-information-->