---
layout: page
title: 'Use the Twitchtv JSON API'
description: 'This app queries the Twitch API.'
site-url: 'https://f-e-p.herokuapp.com/basic/api-projects/twitch'
git-repo: 'front-end-projects/tree/master/basic/api-projects/twitch'
userStory:
  - 'I can see whether Free Code Camp is currently streaming on Twitch.tv.'
  - 'I can click the status output and be sent directly to the Free Code Camps Twitch.tv channel.'
  - 'if a Twitch user is currently streaming, I can see additional details about what they are streaming.'
  - 'I will see a placeholder notification if a streamer has closed their Twitch account (or the account never existed). You can verify this works by adding brunofin and comster404 to your array of Twitch streamers.'
toDo:
  - 'none'
scrollNav: [
  {h: 'project-title', v: 'Twitch TV', s: [
    {h: 'try-it', v: 'In Action'}
  ]},
  {h: 'more-information', v: 'Additional Info', s: [
    {h: 'limitations', v: 'Limitations'},
    {h: 'user-story', v: 'User Story'},
    {h: 'to-do', v: 'To-Do'}
  ]},
]
---

<a name="top-anchor"></a>
<section id="project-title">

  <h2>{{page.title}}</h2>
  <p>{{page.description}}</p>
  <a type="button" href="https://github.com/cjsheets/{{page.git-repo}}" target="_blank"
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Git Repository<div class="ripple-container"></div></a>
  <a type="button" href="#more-info" 
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Additional Info<div class="ripple-container"></div></a>
  <div class="clearfix"></div>
  
  <hr>

  <section id="try-it">
    <h3>See It In Action</h3>
    <p>
      See what's happening on Twitch.
      <i class="hosted-externally">(Hosted externally)</i>
    </p>
      <div class="iframe-container">
        <iframe src="{{page.site-url}}" class="demo-iframe"
          frameborder="0" marginwidth="0" marginheight="0"></iframe>
      </div>
  </section>

</section>

<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
    The query string is mandatory, the offset and count are optional. The default
    count is 10 with an offset of 0.
  </p>

  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>
    See the GitHub repo for additional information
    </p>
    <ul>
      <li>18 hours / day of run time</li>
    </ul>
    <h3>Input Limitations</h3>
    <p>
      None
    </p>
  </section><!--end of #limitations-->

  {% include content/user-story.html %}
  
  <hr>

  {% include content/to-do.html %}

</section><!--end of #more-information-->