---
layout: page
title: 'URL Shortener Microservice'
description: 'This microservice shortens URLs.'
site-url: 'https://m-url.herokuapp.com/'
git-repo: 'node-url-shortener-microservice'
userStory:
  - 'I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.'
  - 'If I pass an invalid URL that doesnt follow the valid http://www.example.com format, the JSON response will contain an error instead.'
  - 'When I visit that shortened URL, it will redirect me to my original link.'
toDo:
  - 'none'
scrollNav: [
  {h: 'project-title', v: 'URL Shortener', s: [
    {h: 'try-it', v: 'In Action'}
  ]},
  {h: 'more-information', v: 'Additional Info', s: [
    {h: 'limitations', v: 'Limitations'},
    {h: 'user-story', v: 'User Story'},
    {h: 'to-do', v: 'To-Do'}
  ]},
]
---

<a name="top-anchor"></a>
<section id="project-title">

  <h2>{{page.title}}</h2>
  <p>{{page.description}}</p>
  <a type="button" href="https://github.com/cjsheets/{{page.git-repo}}" target="_blank"
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Git Repository<div class="ripple-container"></div></a>
  <a type="button" href="#more-info" 
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Additional Info<div class="ripple-container"></div></a>
  <div class="clearfix"></div>
  
  <hr>

  <section id="try-it">
    <h3>See It In Action</h3>
    <p>
      Shorten a url.
      <i class="hosted-externally">(Hosted externally)</i>
    </p>
      <div class="iframe-container">
        <iframe src="{{page.site-url}}" class="demo-iframe"
          frameborder="0" marginwidth="0" marginheight="0"></iframe>
      </div>
  </section>

</section>

<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
    See the GitHub repo for additional information
  </p>

  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>
      This application makes use of Herokus free tier. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>18 hours / day of run time</li>
    </ul>
    <h3>Input Limitations</h3>
    <p>
      None
    </p>
  </section><!--end of #limitations-->

  {% include content/user-story.html %}
  
  <hr>

  {% include content/to-do.html %}

</section><!--end of #more-information-->