---
layout: page
title: 'Build a Voting App'
description: 'This app allows users to vote anonomously on polls, login using 
  social credentials, create polls of their own and manage their polls. The client 
  leverages Chart.js, Angular v2.x and Typescript tied to a Firebase real-time 
  authentication engine and datastore using AngularFire2.'
site-url: 'https://fcc-chadsheets-com.firebaseapp.com/'
git-repo: 'angular-voting-app'
userStory:
  - 'As an authenticated user, I can keep my polls and come back later to access them.'
  - 'As an authenticated user, I can share my polls with my friends.'
  - 'As an authenticated user, I can see the aggregate results of my polls.'
  - 'As an authenticated user, I can delete polls that I decide I dont want anymore.'
  - 'As an authenticated user, I can create a poll with any number of possible items.'
  - 'As an unauthenticated or authenticated user, I can see and vote on everyones polls.'
  - 'As an unauthenticated or authenticated user, I can see the results of polls in chart form. (This could be implemented using Chart.js or Google Charts.)'
  - 'As an authenticated user, if I dont like the options on a poll, I can create a new option.'
toDo:
  - 'Perform transactions when adding/removing polls'
  - 'Disable console log in production'
  - 'enforce no duplicate options, causes issues.'
  - 'http://almerosteyn.com/2016/03/angular2-form-validation-component'
  - 'Add Pagination'
  - 'Improve transition effect when adding new poll'
  - 'Add Route Guards'
  - 'Check viewing votes when logged out in private browsing session'
  - 'set maximum width for page elements'
scrollNav: [
  {h: 'project-title', v: 'Voting App', s: [
    {h: 'try-it', v: 'In Action'}
  ]},
  {h: 'more-information', v: 'Additional Info', s: [
    {h: 'limitations', v: 'Limitations'},
    {h: 'user-story', v: 'User Story'},
    {h: 'to-do', v: 'To-Do'}
  ]},
]
---

<a name="top-anchor"></a>
<section id="project-title">

  <h2>{{page.title}}</h2>
  <p>{{page.description}}</p>
  <a type="button" href="https://github.com/cjsheets/{{page.git-repo}}" target="_blank"
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Git Repository<div class="ripple-container"></div></a>
  <a type="button" href="#more-info" 
    class="btn btn-raised btn-secondary btn-sm pull-right btn-description">
    Additional Info<div class="ripple-container"></div></a>
  <div class="clearfix"></div>
  
  <hr>

  <section id="try-it">
    <h3>See It In Action</h3>
    <p>
      Cast Your Vote!
      <i class="hosted-externally">(External Link)</i>
    </p>
      <div class="sample-img-container">
        <a href="{{page.site-url}}" target="_blank">
          <img src="/assets/img/project-voting-app.png" class="sample-img">
        </a>
      </div>
  </section>

</section>

<hr>

<section id="more-information"><a name="more-info"></a>
  <h2>Additional Information</h2>
  <p>
    See the git repository for additional information.
  </p>

  <section id="limitations">
    <h3>Use Limitations</h3>
    <p>
      This application makes use of Firebase free tier. Accordingly,
      the application is limited to:
    </p>
    <ul>
      <li>Max 5 simultanious users</li>
    </ul>
    <h3>Input Limitations</h3>
    <p>
      There are currently not enough limitations to prevent span. Part of the to-do list.
    </p>
  </section><!--end of #limitations-->

  {% include content/user-story.html %}
  
  <hr>

  {% include content/to-do.html %}

</section><!--end of #more-information-->