<!doctype html>
<head>

{% include head.html %}

</head>
<body id="app-root"  data-spy="scroll" data-target=".scrollspy" style="margin-top: 50px">

{% include top-nav.html %}

{% include left-menu.html %}

<main>
  <div class="container" id="main">
    <div class="row scroll-container">
      <div class="col-md-9">
        <div class="container pages" id="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="well page active content" id="about">

                {{ content }}

              </div>
            </div>
          </div>
        </div>
      </div>
      {% include scrollspy.html %}
    </div>
    {% include footer.html %}
  </div><!--end of .container-->
</main>

</body>
</html>