<h2>Login</h2>

<button md-raised-button (click)="login()" 
class="btn btn-raised btn-link btn-social">
  <i class="zmdi zmdi-email"></i> &nbsp; Create An Account
</button>
<br><br>
...or,
<br><br>
<button md-raised-button (click)="login('github')" 
class="btn btn-raised btn-link btn-social">
  <i class="zmdi zmdi-github"></i> &nbsp; Login with GitHub
</button>
<button md-raised-button (click)="login('google')" 
class="btn btn-raised btn-link btn-social">
  <i class="zmdi zmdi-google"></i> &nbsp; Login with Google
</button><br>
<button md-raised-button (click)="login('facebook')" 
class="btn btn-raised btn-link btn-social">
  <i class="zmdi zmdi-facebook"></i> &nbsp; Login with Facebook
</button>
<button md-raised-button (click)="login('twitter')" 
class="btn btn-raised btn-link btn-social">
  <i class="zmdi zmdi-twitter"></i> &nbsp; Login with Twitter
</button>

<br><br>
<button md-raised-button (click)="logout()">
  Logout
</button>



<div *ngIf="user">
  Not Logged In: {{ userOut() }}
</div>
<div *ngIf="! user">
  Logged In: {{ userOut() }}
</div>