<div class="container" id="main">
  <div class="row scroll-container">
    <div class="col-md-9">
      <div class="container pages" id="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="well page active content" id="about">
              <!-- Reset Indent -->

<a name="top-anchor"></a>
<section id="image-search">
  <h2>Image Search API</h2>
  <p>This application abstracts a Google Custom Search Engine (CSE) into a simple
    API for image searches. 
  </p>
  <p>
    <a type="button" href="#more-info" class="btn btn-raised btn-secondary btn-sm pull-right">
      Additional Info
    <div class="ripple-container"></div></a>
  </p>
  <br><br>
  <hr>
  <section id="try-it">
    <h3>See It In Action</h3>
      <p>Enter a search term to see what the API returns.
      </p>
      <button md-raised-button (click)="login()">
        Use My Google Account
      </button>
      <button md-raised-button (click)="logout()">
        Logout
      </button>
    </section>
<div *ngIf="user">
  Not Logged In
</div>
  </section>
    
              <!-- /Reset Indent -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 scrollspy">
        <ul id="navspy" class="nav hidden-xs hidden-sm navspy" data-spy="affix">
          <li><a href="#image-search">Search API</a>
            <ul class="nav navspy">
              <li><a href="#try-it">In Action</a></li>
              <li><a href="#search-details">Details</a></li>
            </ul>
          </li>
          <li><a href="#latest">Recent API</a>
            <ul class="nav navspy">
              <li><a href="#try-latest">In Action</a></li>
              <li><a href="#latest-details">Details</a></li>
            </ul>
          </li>
          <li><a href="#more-information">Additional Info</a>
            <ul class="nav navspy">
              <li><a href="#limitations">Limitations</a></li>
              <li><a href="#user-story">User Story</a></li>
              <li><a href="#to-do">ToDo</a></li>
            </ul>
          </li>
        <li style="padding-top: 10px;"><a href="#top-anchor">Back to Top</a></li>
        </ul>
    </div>
<!--    <nav class="col-m-2 menu">
      <ul>
        <li class="active withripple" data-target="#about">Material Design for Bootstrap</li>
        <li class="withripple" data-target="#getting-started">Getting Started</li>
        <li><a href="bootstrap-elements.html" target="_blank">Bootstrap elements <i class="material-icons">open_in_new</i></a>
        </li>
        <li class="withripple" data-target="#checkbox">Checkbox</li>
        <li class="withripple" data-target="#radio-button">Radio Button</li>
        <li class="withripple" data-target="#toggle-button">Toggle Button</li>
        <li class="withripple" data-target="#input">Input</li>
        <li class="withripple" data-target="#fileinput">File Input</li>
        <li class="withripple" data-target="#navbar">Navbar</li>
        <li class="withripple" data-target="#progress-bar">Progress Bar</li>
        <li class="withripple" data-target="#slider">Slider</li>
        <li class="withripple" data-target="#dropdown">Dropdown (Work in progress)</li>
        <li class="withripple" data-target="#dropdown-menu">Dropdown Menu</li>
        <li class="withripple" data-target="#dialog">Dialog</li>
      </ul>
    </nav>-->
  </div>
  <div class="row">
    <footer class="col-xs-12 application">
      <div class="container" id="footer">
        <h2>About</h2>
        <div class="row">
<br><br>
          <div class="col-sm-6">
            <p>More details to come
            </p>
            <img class="img-responsive  " src="http://placehold.it/500x250/5fb3ce/000000">
          </div>
          <div class="col-sm-6">
            <p>Hopefully sooner than later
            </p>
          </div>
<br><br>
        </div><!--end of .row-->
      </div><!--end of .container-->
    </footer> 
  </div>
</div>