footer{
  background-color: #1f2d38;
  color: #FFFFFF;
}


.content {
margin-top: 10px;
}

#navspy {
  padding-top: 20px;
}


.affix-top {
  position: relative;
}

.affix {
  top: 50px;
}

.affix, 
.affix-bottom {
    width: 213px;
}

.affix-bottom {
  position: absolute;
}

@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }         
}

@media (min-width: 1200px) {
  .affix-bottom {
    width: 263px;
  }
}
@media (min-width: 767px) {
  #main {
    width:calc(100% - 200px);
    float: right;
  }
  #content, #footer {
    width:100%;
    float: right;
    margin: 0px;
  }
}




section:before { 
  content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em }


.navspy li a {
  color: #333333;
  font-size: 13px;
  padding: 5px 15px;
}

.navspy li a:hover,
.navspy li a:focus {
  border-left: 1px solid #04559b;
}

.navspy .active a {
  font-weight: bold;
  border-left: 2px solid #04559b;
  color: #04559b;
}

.navspy .navspy {
  display: none;
}

.navspy .active .navspy {
  display: block;
}

.navspy .active .navspy a {
  border-left: 0px;
  padding-left: 30px;
  color: #333333;
}

.navspy .navspy a {
  font-weight: normal;
  font-size: .85em;
}

.navspy .navspy span {
  margin: 0 5px 0 2px;
}

.navspy .navspy .active a,
.navspy .navspy .active:hover a,
.navspy .navspy .active:focus a {
  padding-left: 30px;
  border-left: 2px solid #04559b;
  color: #04559b;
}

.navspy .navspy .active span,
.navspy .navspy .active:hover span,
.navspy .navspy .active:focus span {
  display: none;
}


.panel-heading {
  color: #333333;
}


/* Input Spinner */
/* http://codepen.io/Thomas-Lebeau/pen/csHqx */

.spinner {
  width: 100px;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  top: -4px;
  left: 4px;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.search-container {
  display: table;
  border-collapse:collapse;
  width:100%;
  margin-top: 20px;
}
.search-container > div {
  display: table-cell;
}

.alert {
  font-size: 1em;
  padding: .75rem 1.25rem;
  padding: 1.5em 1em 1em;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #dff0d8;
  border-color: #cbf0bb;
  color: #4c8f31;
}