<div class="container">

  <div class="row row-results">
    <div class="col-sm" *ngIf="bricks.length > 0">
      <masonry [options]="{ transitionDuration: '0.0000001s' }">
        <masonry-brick *ngFor="let brick of bricks">
          <div class="brick" [style.background-image]="'url(' + brick.image_url + ')'">
            <div class="brick-header">
                {{brick.name}}
            </div>
            <div class="brick-content">
              <div class="container">
                <div class="row">
                  <div class="col-4 brick-text brick-info">Currently:</div>
                  <div class="col-8 brick-text">
                    <span class="badge badge-success" *ngIf="!brick.is_closed">Open</span>
                    <span class="badge badge-danger" *ngIf="brick.is_closed">Closed</span>
                  </div>
                    <div class="col-4 brick-text brick-info">Rating:</div>
                    <div class="col-8 brick-text"><b>{{brick.rating}}</b> starts on <a href="{{brick.url}}" target="_blank">Yelp</a>
                    </div>
                  <div class="col-4 brick-text brick-info">Directions:</div>
                  <div class="col-8 brick-text"><a [href]="brick.google_url" target="_blank">Google Maps</a>
                  </div>
                </div>
              </div>

              <p *ngIf="brick.attendance == 0">No one is currently going</p>
              <p *ngIf="brick.attendance == 1">1 person is going</p>
              <p *ngIf="brick.attendance > 1">{{brick.attendance}} people are going</p>
              <button class="btn btn-secondary btn-going" *ngIf="!brick.attending" 
                (click)="sendGoing(brick.id)">
                I'm Going
              </button>
              <button class="btn btn-secondary btn-danger btn-going" *ngIf="brick.attending" 
                (click)="sendNotGoing(brick.id)">
                I'm Not Going
              </button>
            </div>
          </div>
        </masonry-brick>
      </masonry>
    </div>
    <div class="col-sm text-center white" *ngIf="bricks.length === 0">
      <br><br>
      <p>No results found. Try searching again</p>
      <br><br>
    </div>
  </div>
</div>